@model ProjetoMVC01.Presentation.Models.EmpresaEdicaoViewModel

@{
    ViewData["Title"] = "Edicao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Formulário de edição de empresa</h5>
<p>Preencha os campos abaixo para atualizar uma empresa.</p>
<hr />

<div class="row">
    <div class="col-md-4">

        @using (Html.BeginForm())
        {
            <!-- campo oculto -->
            @Html.HiddenFor(model => model.IdEmpresa)

            <label>Razão Social:</label>
            @Html.TextBoxFor(model => model.RazaoSocial,
                new 
                { 
                    @class = "form-control"
                })
            <div class="text-danger">
                @Html.ValidationMessageFor(model => model.RazaoSocial)
            </div>
            <br/>

            <input type="submit" value="Atualizar Empresa"
                   class="btn btn-primary"/>
        }

    </div>
</div>
